@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background: #f2f2f2;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a, button {
  cursor: pointer;
}

.text-p {
  font-size: 15px;
}


.dashboard-card {
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid rgba(60,73,81,0.16);
  border-radius: 8px;
  box-shadow: 0 4px 0 0 rgba(35,57,91,0.08);
}