.loading-circle {
    border: 4px solid #e0e0e0;
    border-top: 4px solid var(--bs-primary);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.preset button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.modal-backdrop.show {
    backdrop-filter: blur(20px) saturate(0.5);
    -webkit-backdrop-filter: blur(20px) saturate(0.5);
    background-color: rgba(0, 0, 0, 0.7) !important;
    opacity: 1 !important;
}
